// Post SCSS for the theme.
#nav-drawer {
    background-color: #28527A;
    }
body.pagelayout-login {                                                                                                             
    background-image: url([[pix:theme_caps|loginbackgroundimage]]);                                                                
    background-size: cover;                                                                                                        
    }
div.card-body {
    background-color: $white;
}
div.card-block {
    background-color: #28527A;
}         
div.card {
    border-color: #28527A;
}