// Post SCSS for the theme.
body {
    font-family: Roboto !important;
    background-color: #fafafa !important;
}
#region-main {
    background-color: transparent !important;
    border-width: 0px !important;
    border-radius: 0px !important;
}
#page-user-preferences #region-main {
    background-color: $white !important;
    border-width: 0.5px !important;
    border-radius: 5px !important;
    box-shadow: 1px 1px 6px !important;
}
#page-user-preferences #page-header .card {
    background-color: $white !important;
    border-width: 0.5px !important;
    border-radius: 5px !important;
    box-shadow: 1px 1px 6px !important;
}
#page-user-profile #region-main {
    background-color: $white !important;
    border-width: 0.5px !important;
    border-radius: 5px !important;
    box-shadow: 1px 1px 6px !important;
}
#page-user-profile #page-header .card {
    background-color: $white !important;
    border-width: 0.5px !important;
    border-radius: 5px !important;
    box-shadow: 1px 1px 6px !important;
}
#nav-drawer {
    background-color: $primary !important;
}
body.pagelayout-login {                                                                                                             
    background-image: url([[pix:theme_caps|loginbackgroundimage]]) !important;                                                                
    background-size: cover !important;                                                                                                        
}
.form-control:focus {
    border-color: #80bdff !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
    border-radius: 5px !important;
}
#page-my-index .card-body {
    background-color: $white !important;
    border-width: 0.5px !important;
    border-radius: 5px !important;
    box-shadow: 1px 1px 6px !important;
}
.btn-primary {
    border-width: 2px !important;
    border-radius: 5px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
}
.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
    border-radius: 5px !important;
    outline: 0 !important;
}
.btn-secondary {
    border-width: 2px !important;
    border-radius: 5px !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
    background-color: white !important;
    color: #28527A !important;
    border-color: #28527A !important;
}
.btn-secondary:focus, .btn-secondary.focus {
    border-radius: 5px !important;
    outline: 0 !important;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary {
    background-color: whitesmoke !important;
    color: #28527A !important;
    border-color: #28527A !important;
}
.navbar {
    box-shadow: 0px 1px 3px !important;
    background-color: #f9f9f9 !important;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0rem !important;
}
nav:focus, nav.focus {
    outline: 0 !important;
}
#drawer-toggle {
    background-color: #ececec !important;
}
.list-group ul {
    padding: 10px !important;
}
.list-group-item-action {
    color: $white !important;
}
.list-group-item-action:hover, .list-group-item-action:focus {
    color: $white !important;
    background-color: #728EA8 !important; 
}
.list-group-item-action:active {
    color: $white !important;
    background-color: $primary !important; 
}
.list-group-item {
    background-color: $primary !important;
    border: 0px !important;
}
.list-group-item.active {
    color: $white !important;
    background-color: #728EA8 !important;
    border-color: $primary !important; 
}
.card-title {
    color: #EFA30A !important;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 500 !important;
    color: #EFA30A !important;
}
div.page-header-headings {
    color: #EFA30A !important;
}
.coursebox .content .courseimage img {
    max-width: 200px !important;
    max-height: 200px !important;  
}
#page-login-index .card-header .img-fluid {
    max-width: 200px !important;
}
#page-login-signup .card-title .img-fluid {
    max-width: 200px !important;
    align-content: center !important;
}
a[data-key="home"] {
    display: none !important;
}
a[data-key="calendar"] {
    display: none !important;
}
a[data-key="contentbank"] {
    display: none !important;
}
a[data-key="privatefiles"] {
    display: none !important;
}
#page-header {
    display : none !important;
}
#page-my-index #page-header {
    display: block !important;
}
#page-user-profile #page-header {
    display: block !important;
}
#page-user-profile #page-navbar {
    display: none !important;
}
#page-user-preferences #page-header {
    display: block !important;
}
#page-user-preferences #page-navbar {
    display: none !important;
}